@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}

.jersey-10-regular {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'DungGeunMo';
    font-size: 50px;
    text-align: center;
}
h3{
    padding: 10px 0;
    font-size: 20px;
}
h2{
    padding-bottom: 50px;
}
p, span{
    padding-bottom: 10px;
    font-size: 15px;
}