#popup{
    position: fixed; bottom: 0; right: 0;
    height: 80px;
    display: flex; align-items: flex-end;
    transition: height .3s;
}
#popup:hover{
    height: 300px;
    background: #000;
    color: #fff;
}