#reservation {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#reservation ul {
  list-style: none;
  padding: 0;
}
#reservation ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
#reservation ul li .inputs {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 991px) {
  #reservation ul li {
    gap: 1rem;
  }
  #reservation ul li:not(.inspan) {
    flex-direction: row;
  }
}
#reservation ul li label {
  font-weight: bold;
  margin-bottom: 5px;
}
@media screen and (min-width: 991px) {
  #reservation ul li label {
    min-width: 120px;
  }
}
#reservation ul li input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
#reservation ul li input:focus-visible {
  background: yellow;
  color: blue;
  outline: blue 1px solid;
}
#reservation ul li.inspan span {
  display: none;
}
#reservation ul li.inspan input:focus + span {
  display: block;
}
#reservation button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
#reservation button:hover {
  background: #0056b3;
}