<ul class="menuCategory menu">
    <li module="product_displaysubcategory" style="display:{$display};" class="{$selected}">
        <a href="/{$design_page_url}?{$param_cate_no}" class="button">{$category_name}
            <span class="count {$product_count_display|display}">({$product_count})</span></a><a href="#none" class="iconWrap"></a>
        <ul module="product_children">
            <li class="{$selected}">
                <a href="{$link_product_list_sub}">{$category_name}
                    <span class="{$product_count_display|display}">({$product_count})</span></a><a href="#none" class="iconWrap"></a>
                <div class="button">
                    {$children_icon}
                    <ul module="product_children" class="subCategory">
                        <li class="{$selected}"><a href="{$link_product_list_sub}">{$category_name}<span class="{$product_count_display|display}">({$product_count})</span></a><a href="#none" class="iconWrap"></a></li>
                        <li class="{$selected}"><a href="{$link_product_list_sub}">{$category_name}<span class="{$product_count_display|display}">({$product_count})</span></a><a href="#none" class="iconWrap"></a></li>
                    </ul>
                </div>
            </li>
            <li class="{$selected}">
                <a href="{$link_product_list_sub}">{$category_name}
                    <span class="{$product_count_display|display}">({$product_count})</span></a><a href="#none" class="iconWrap"></a>
                <div class="button">
                    {$children_icon}
                    <ul module="product_children" class="subCategory">
                        <li class="{$selected}"><a href="{$link_product_list_sub}">{$category_name}<span class="{$product_count_display|display}">({$product_count})</span></a><a href="#none" class="iconWrap"></a></li>
                        <li class="{$selected}"><a href="{$link_product_list_sub}">{$category_name}<span class="{$product_count_display|display}">({$product_count})</span></a><a href="#none" class="iconWrap"></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>